<% if flash[:notice] %>
  <div class="success alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<h1>Aluga temporada</h1>
<p class="lead">O melhor site para alugar imóveis da internet</p>

<%= link_to 'Anunciar um imóvel', new_property_path, class: "btn btn-success" %>

<h2>Imóveis:</h2>

<% if @properties.any? %>
<section class="row">
  <% @properties.each do |property| %>
  <div class="col-md-4 col-sm-12 col-lg-4">
    <%= render partial: 'shared/property_detail',
               locals: {property: property} %>
  </div>
  <% end %>
</section>
<% else %>
  <p>Nenhuma propriedade encontrada</p>
<% end %>
